body{
  background-color: #202632;
  color: hsl(193, 38%, 86%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}

.container{
  padding: 2rem;
  background: #313a49;
  width: 512px;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

h1{
  font-size: 1.2rem;
  color: hsl(150, 100%, 66%);
}

.margin1{
  margin: 1rem 0;
}

.margin2{
  margin: 2rem 0;
}

.container-fluid{
  font-size: 28px;
  font-weight: 800;
}

.dice{
  width: 4rem;
  height: 4rem;
  background: hsl(150, 100%, 66%);
  border-style: none;
  border-radius: 50%;
  position: relative;
  bottom: 2rem;
}

.mobile{
  display: none;
}

/*************************************** active states *****************************************/
.dice:hover, .dice:active{
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: -1px 1px 60px rgba(82, 255, 168, 1);
   -webkit-box-shadow: -1px 1px 60px rgba(82, 255, 168, 1);
   -moz-box-shadow: -1px 1px 60px rgba(82, 255, 168, 1);
   /* transition: all ease-in-out 0.3s; */
}

/*************************************** media query *****************************************/
@media (max-width: 425px) {
  body{
    padding: 0 1rem;
  }
  .container{
    padding: 1rem;
    width: 100%;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }

  .margin3{
    margin: 2rem 0 3rem;
  }
}
